form {
    margin: 50px auto;
    width: 50em;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group .fa {
    margin-right: 5px;
}

.form-group button {
    background-color: #B4D2E7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.form-group button:hover {
    background-color: #94C5CC;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    height: 3em;
}