.about_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    margin-right: 0em;
    margin-left: 0em;
}

.about_div {
    display: grid;
    grid-column-start: 2;
    grid-row-end: 1;
}

.figure_about {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 3em;
}

.photo-cv {
    width: 50em;
    height: auto;
    justify-items: flex-end;
}