.section_about {
    @include section;
}

.figure_about {
    @include figure;
}

.div_about {
    @include div;
}

.photo-cv {
    width: 50em;
    justify-items: flex-end;
}

.section_formation {
    @include section;
}

.figure_formation {
    @include figure;
}

.div_formation {
    @include div;

}

.logo_formation {
    width: 100%;
    top: 0;
    right: 0;
}

.section_experience {
    @include section;
}

.figure_experience {
    @include figure;
}

.div_experience {
    @include div;
}

.logo_experience {
    width: 100%;
    top: 0;
    right: 0;
}