.cv-button {
    color: #94C5CC;
    background-color: white;
    font-weight: 700;
    border-width: 0;
    border-radius: 10px;
    border-style: solid;
    padding: 5px 10px;
    font-size: 1.5rem;
    height: min-content;
    text-decoration: none;
}

.logo {
    color: white;
}

.logo:hover {
    color: #626262;
}