.logo_formation, .logo_experience, .logo_skills, .logo_projects, .logo_contact {
    font-size: 5em;
    color: #B4D2E7;
}

.photo-cv {
    width: 50em;
    border-radius: 10%;
}

.logo_elden_ring, .logo_barber_shop {
    width: 20em;
    border-radius: 10%;
}