@mixin section-model {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    justify-items: stretch;
    margin-top: 10em;
}

@mixin figure-model {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3em;
}

@mixin div-model {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}