@mixin section-model {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    justify-items: flex-end;
}

@mixin figure-model {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3em;
}

@mixin div-model {
    margin-right: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}